{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "singleQuote": true,
        "htmlWhitespaceSensitivity": "ignore",
        "vueIndentScriptAndStyle": false
      }
    },
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120
      }
    }
  ]
}
