// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Noto+Sans:wght@400;700&family=Montserrat:wght@100..900&family=Hind:wght@400;700&display=swap');

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/Hind-Bold.ttf') format('truetype');
  font-weight: 700;
}
