// Colors
$white: #ffffff;
$persol-gray: #97999b;
$accent_color_primary: #ffb81a;
$accent_color_secondary: #1a76ff;
$text_color: #333333;

// Width / Height
$max-width: 1140px;
$sp-max-width: 640px;

$header-height: 80px;

// Font Styles
$body-font: 'Hind', sans-serif;
$heading-font: 'Montserrat', sans-serif;
